body{
    margin:0;
}
.scene{
    height:100vh;
    overflow:hidden;
    background-attachment: fixed;
    background-size:cover;
    font-family: 'Roboto Mono', monospace;
    font-weight: 200;
}
.scene.scene.one{
    background-image: url(1.jpg);
}
.scene.scene.two{
    background-image: url(2.jpg);
}
.scene.scene.three{
    background-image: url(3.jpg);
}
.scene header{
    color:white;
    max-width: 80%;
    position: relative;
    left : 50%;
    top: 50%;
    transform:translateX(-50%) translateY(-50%);
    font-size : 1.5rem;
    text-align : center;
}
.scene header h1{
    font-size:2rem;
    margin-bottom: 2rem;
    font-weight: 400;
}
.scene header h1:after{
    content:'';
    border-bottom : 1px solid white;
    width: 10rem;
    display:block;
    margin : 0 auto;    
    margin-top : 1rem;
}